#fondo{
	background-color: #CED8F6;
}
#principal{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin: auto;
	

}

header{
	width: 900px;
	height: 100px;
	border: 0px solid #000;
}

#logo{
	width: 900px;
	height: 100px;
	border: 2px solid #011;
	text-align: center; font-family: sans-serif;
	margin-top: 30px;
	background-color: #c1c1c1;
}

.titulo{
	margin-top: 25px;
	font-size: 30px;
}

.sub-titulo{
	font-size: 14px;
	margin-top: -20px;
}

.menu{
	width: 700px;
	height: 40px;
	border: 1px solid #ccc;
	float: right;
	margin-top: -160px;
	background: #006699;
}


.menu ul{}

.menu ul li{
	list-style: none;
	float: left;
	transform: translateX(30px);
}

.menu ul li a{
	text-decoration: none;
	padding: 10px 15px;
	border: 0px solid #ccc;
	color: #fff; 
	margin-left: 20px;
	font-size: 20px;
}

.menu ul li a:hover{
	background: #BDBDBD;
	color: #fff;
	transition: background 1s, color 1s;
}
#menu1{
	transform: translateY(-300px);
	margin-top: 40PX;
	margin-left: 300PX;
	float: center;
}
#menu2{
transform: translateY(-380px);
margin-right: 100px;
	float: right;
}
#menu3{
	margin-left: 300px;
	transform: translateY(-120px);
}
#menu4{
	float: right;
	margin-right: 100px;
	transform: translateY(-200px);
}

#Nosotros{
	margin-top: -15;
	width: 900px;
	height: 70px;
	border: 1px solid #ccc;
	background-color: #d65854;
}

#contenido{
	background-image: url("Fondo.png");
	width: 900px;
	height: 1000px;
	border: 1px solid #ccc;
}
#pedido{
	width: 700px;
	height: 50px;
	float: center;
	background-color:#CECEF6;
	margin-left: 130px;
	font-size: 30px;
}
.img2{
	margin-top: -150px;
}
#hamburguesa{
	float: center;
	margin-left: 100px;
	transform: translateY(-180px);
}
#ensaladas{
	margin-bottom: 150px;
	transform: translateX(170px);
}
#refresco{
	margin-left: -400px;
	transform: translateY(130px);
}

#papas{
	margin-left: 200px;
	transform: translateY(200PX);
}
.footer{
position: absolute;  width: 900px; height: 150px; background-color: black
}
#izq1{
	float: left;
	text-align: left;

}
#der1{
	margin-right: 200px;
	text-align: center;

}
#formulario2{
	width: 400px;
	height: auto;
	overflow: hidden;
	padding: 5px;
	float: left;
	margin-top: 10px;
	margin-left: 100px;
	font-size: 20px;
}

#sucursales{
	float: right;
	transform: translateY(150px);
}
#form5{

}
/*------------contacto------------------------*/
#formulario{
	width: 330px;
	height: auto;
	overflow: hidden;
	padding: 5px;
	float: right;
	margin-top: -132px;
	font-size: 15px;
}

#mapa{
	width: 432px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	float: right;
}

input[type="text"]{
	border: 1px solid #c1c1c1; padding: 6px;
	width: 97%;
}

textarea{
	border: 1px solid #c1c1c1; padding: 6px;
	width: 97%;
}

.enviar{
	padding: 5px 10px;
	background: #006699;
	color: #fdfdfd;
	font-size: 10px;
}

#form{}

#datos{
	margin-top: 30px;
}