#principal{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin: auto;


}
#fondo{
	background-color: #CED8F6;
}
.cuerpo{
	background-image: url("Fondo.png");
position: relative; top: 0px; width: 900px; height: 1400px
}
.footer{
position: absolute;  width: 900px; height: 150px; background-color: black
}
header{
	width: 900px;
	height: 100px;
	border: 0px solid #000;
}


#logo{
	width: 900px;
	height: 100px;
	border: 2px solid #011;
	text-align: center; font-family: sans-serif;
	margin-top: 30px;
	background-color: #c1c1c1;
}
.titulo{
	margin-top: 25px;
	font-size: 30px;
}

.sub-titulo{
	font-size: 14px;
	margin-top: -20px;
}

.menu{
	width: 700px;
	height: 40px;
	border: 1px solid #ccc;
	float: right;
	margin-top: -160px;
	background: #006699;
}


.menu ul{}

.menu ul li{
	list-style: none;
	float: left;
	transform: translateX(30px);
}

.menu ul li a{
	text-decoration: none;
	padding: 10px 15px;
	border: 0px solid #ccc;
	color: #fff; 
	margin-left: 20px;
	font-size: 20px;
}


.menu ul li a:hover{
	background: #BDBDBD;
	color: #fff;
	transition: background 1s, color 1s;
}
#Nosotros{
	margin-top: -15;
	width: 900px;
	height: 70px;
	border: 1px solid #ccc;
	background-color: #d65854;
}

#contenido{
	background-image: url("Fondo.png");
	width: 900px;
	height: 1000px;
	border: 1px solid #ccc;
}
#reclu{
	
	transform: translateX(-200px);
	transform: translateY(-550px);

}
#parizq{
	font-size: 20px;
	margin-top: -690px;
	margin-right: 400px;
	color: #088A08;
}
.centro{
	background-image: url("Fondo.png");
position: absolute; top: 0px; left: 0px; width: 100%; height: 1500px; background-color: white
}
#parder{
	font-size: 20px;
	margin-top: -250px;
	margin-right: -400px;
	color: #088A08;
}
.img2{
	margin-top: -150px;
}


#der{
	width: 290px;
	height: 300px;
	border: 1px solid #ccc;
	float: right;
	color: 
}
#izq1{
	float: left;
	text-align: left;

}
#der1{
	margin-right: 200px;
	text-align: center;

}
.posimage1{
	position:absolute; top: 0px; left: 0px; width: 100%; height: 80%
}
.posimage2{
	position:absolute; top: 0%; left: 10%; width: 80%; height: 80%
}
.centrado{
position:absolute; top: 80%; left: 10%; width: 80%
}
.titulo1{position:absolute; top: 0%; width: 80%; left: 10%; color: black; font-family: Perpetua Titling MT, Arial; font-size: 12 pt}
.mitadizq{
position: absolute; top: 0%; left: 0%; width:50%; height: 100%
}
.mitadder{
position: absolute; top: 0%; left: 50%; width:50%; height: 100%
}
.div1de3{
position: absolute; left: 0pt; height: 100%; width: 33%
}
.div2de3{
position: absolute; top: 0%; left: 33%; height: 100%; width: 34%
}
.div3de3{
position: absolute; top; 0%; left: 67%; height: 100%; width: 33%
}
.letrasfoot{
position: absolute; font-size: 9pt; color: white; top: 0%; width: 50%; left: 25%
}
.relativo{
position: relative; width: 100%; height: 300px
}
.title1{
position: relative; width: 100%; height: 100px
}
.titulocentro{
position:relative; width: 100%; height: 100px
}